@model List<SliderGetModel>
@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header py-1 d-flex justify-content-between align-items-center">
                <h5 class="card-title">Sliderlar</h5>
                <a asp-action="Create" class="btn btn-sm btn-primary d-flex ms-auto align-items-center">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                 <table id="myTable" class="display">
                        <thead class="table-secondary">
                            <tr>
                                <th style="width: 20px;">Id</th>
                                <th style="width: 200px;">Resim</th>
                                <th>Başlık</th>
                                <th>Aktif</th>
                                <th>Index</th>
                                <th style="width: 90px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>
                                        <img src="~/img/@item.Image" class="img-fluid" style="width: 20rem; height: 5.3rem;" >
                                    </td>
                                    <td>@item.Title</td>
                                    <td>
                                        @if (item.Active)
                                        {
                                            <i class="fa-solid fa-circle-check text-success"></i>
                                        }
                                        else
                                        {
                                            <i class="fa-solid fa-circle-xmark text-danger"></i>
                                        }
                                    </td>
                                    <td>@item.Index</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm" >
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a href="#" class="btn btn-danger btn-sm" onclick="openDeleteModal(@item.Id, '@item.Title')">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal fade" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
<form id="deleteForm" method="post" asp-action="Delete">
                @Html.AntiForgeryToken()
                <input type="hidden" id="deleteIdInput" name="id" />

                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Silme Onayı</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="deleteMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-warning">Evet</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script>
    function openDeleteModal(id, title) {
        document.getElementById('deleteMessage').innerText = `${title} adlı sliderı silmek istediğinize emin misiniz?`;
        document.getElementById('deleteIdInput').value = id;

        var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
        deleteModal.show();
    }
    </script>


}
