@model List<ProductGetModel>
  @{ Layout ="_AdminLayout"; }

  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div
          class="card-header py-1 d-flex justify-content-between align-items-center"
        >
          <h5 class="card-title mb-0">Ürünler</h5>
          <div class="d-flex gap-2">
            <a
              asp-controller="Product"
              asp-action="Create"
              class="btn btn-sm btn-primary"
            >
              <i class="fa-solid fa-plus"></i>
            </a>
            <a
              asp-controller="Product"
              asp-action="List"
              class="btn btn-sm btn-outline-primary"
            >
              <i class="fa-solid fa-list"></i> Product List
            </a>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped mb-0">
              <thead class="table-secondary">
                <tr>
                  <th style="width: 20px">Id</th>
                  <th style="width: 80px">Resim</th>
                  <th>Ürün Adı</th>
                  <th>Fiyat</th>
                  <th>Aktif</th>
                  <th>Anasayfa</th>
                  <th>Kategori</th>
                  <th>Stok</th>
                  <th style="width: 50px"></th>
                </tr>
              </thead>
              <tbody>
                @foreach (var p in Model) {
                <tr>
                  <td>@p.Id</td>
                  <td>
                    <img src="img/@p.Image" class="img-fluid" alt="" />
                  </td>
                  <td>@p.ProductName</td>
                  <td>@p.Price ₺</td>
                  <td>
                    @if (p.IsActive) {
                    <i class="fa-solid fa-circle-check text-success"></i>
                    } else{
                    <i class="fa-solid fa-circle-xmark text-danger"></i>
                    }
                  </td>
                  <td>
                    @if (p.IsHome) {
                    <i class="fa-solid fa-circle-check text-success"></i>
                    } else{
                    <i class="fa-solid fa-circle-xmark text-danger"></i>
                    }
                  </td>
                  <td>@p.CategoryName</td>
                  <td>@p.Stock</td>
                  <td>
                    <a
                      asp-controller="Product"
                      asp-action="Edit"
                      asp-route-id="@p.Id"
                      class="btn btn-primary btn-sm"
                    >
                      <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ProductGetModel>
